	body {
		/*margin: 100;
		#padding: 100; */
		background-image: url('../img/wall-o-filament2.png'); 
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		text-align: center;
		justify-content: center;
	
	}
	
	.banner-logo {
		max-width: 300px; /* Or whatever max width you prefer */
		height: auto; /* Maintain aspect ratio */
	}

	.banner { /* Add this class to the parent container of the image */
		display: flex;
		justify-content: center; /* Center children horizontally */
		flex-direction: row; /* Ensure the children are laid out in a row */
	  }

	.ytimg {
		max-width: 200px !important;
		height: auto;
		overflow: hidden;
		justify-content: center !important; /* Center horizontally */
		align-items: center !important; /* Center vertically */
		border-radius: 10%; /* This will be responsive to the size of the image */
	}

	.store-grid a {
		align-self: center;
		vertical-align: center;
		justify-content: center; /* Center horizontally */
		align-items: center; /* Center vertically */
	}
		
	.storeimg {
		max-width: 300px !important;
		width: auto;
		max-height: 120px;
		overflow: hidden;
		justify-content: center; /* Center horizontally */
		align-items: center; /* Center vertically */
		align-self: center;
	}


	.repoimg {
		max-width: 500px !important;
		height: auto;

	}
	

	.gray-bg {
		background-color: #ccc;
		padding: 10px;
		display: inline-block;
		overflow: hidden;
		border-radius: 10%;
	}

	.black-bg {
		background-color: #000000; /* Set the background color to gray (or any other color you prefer) */
		padding: 10px; /* Add padding to create some space between the image and the background */
		display: inline-block; /* Ensure the container takes the width of the image */
		overflow: hidden;
	}
	
	.text-with-outline {
	color: black;
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
	}
	
	.table {
	display: table;
	border-collapse: collapse;
	}
	
	.table-row {
	display: table-row;
	}
	

	.no-margin {
	margin-bottom: 1px;
	}
	
	a {
	color: #000; /* Set the link color to black (adjust as needed) */
	text-decoration: none; /* Remove the default underline */
	text-shadow:
		-1px -1px 0 #fff, /* Top-left */
		1px -1px 0 #fff, /* Top-right */
		-1px 1px 0 #fff, /* Bottom-left */
		1px 1px 0 #fff; /* Bottom-right */
	/* Optional: Add padding to create space around the text */
	padding: 2px;
	/* Optional: Add a transition effect on the text-shadow property */
	transition: text-shadow 0.2s;
	}